@import url("https://fonts.googleapis.com/css?family=Aldrich");

* {
  margin: 0;
  padding: 0;
  /* changes the box model so that border and padding is no longer added to total width/height we specify */
  box-sizing: border-box;
}

body {
  font-family: "Aldrich", sans-serif;
  font-size: 24px;
  line-height: 1.7;
  /* puts a padding around the entire border of the body */
  padding: 40px;
}

.app {
  /* height should be 95% of the viewport */
  height: 90vh;

  /* creates the gradient background of the box */
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 140, 111, 0.8),
    rgba(40, 120, 131, 0.8)
  );
}

.app a,
p,
input {
  color: rgba(50, 50, 120, 0.8);
  text-decoration: none;
  /* text-transform: uppercase; */

  /* creates shadow effect on links */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
  letter-spacing: 2px;
  display: inline;
}

.header {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  display: inline;
}

.header-left {
  float: left;
  padding-left: 20px;
}

.header-right {
  float: right;
  text-align: right;
  padding-right: 20px;
}

.landing {
  position: absolute;
  top: 50%;
  left: 50%;

  /* makes up 60% of app, the parent div */
  height: 60%;
  width: 60%;

  text-align: center;

  /* it will be shifted up 50% of the element's height */
  transform: translate(-50%, -50%);
}

.landing p,
a,
input {
  position: relative;
  top: 20%;
}

input {
  margin-top: 10px;
  font-family: "Aldrich", sans-serif;
  background: transparent;
  border: none;
  outline: none;
}

input::placeholder {
  color: rgba(50, 50, 120, 0.8);
  opacity: 0.5;
  font-size: 0.9em;
  text-align: left;
  letter-spacing: 2px;
}

.btn:link,
.btn:visited {
  margin-top: 10px;
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;

  /* top right bottom left */
  /* padding: 15px 40px 15px 40px; */

  /* top/bottom left/right */
  padding: 10px 30px;

  /* we should always use this line if we want to give paddings or heights or widths to elements */
  display: inline-block;

  /* this gives the button its rounded edges */
  border-radius: 100px;

  /* specifies for all the properties to be transitioned */
  transition: all 0.2s;

  /* this makes the button's pseudo-element follow this element */
  position: relative;
}

.btn:hover {
  /* when we hover over the button it moves up */
  transform: translateY(-3px);

  /* direction of the shadow in the x direction, y direction, blur, color of shadow (transparent) */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  /* moves down again when the button is clicked */
  transform: translateY(-1px);

  /* when we click on the button we want the shadow to be smaller */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
